*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.bst
*.DS_Store

# Mammoth results
./Code/src/mammoth/results/
./Code/src/mammoth/data/results/


# PyCharm files from https://gist.github.com/rask004/4c322384aa6012d6c5a7178071d3c8fb
.idea/

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
/Code/Data/Output/results-agem.csv
/Code/Data/Output/results-lwf_mc.csv
/Code/src/mammoth/data/results/ETH/
/Code/Data/Output/models/
